[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
